p{
    color:#ffffff;
    background-color: grey;
    font-family:"Roboto";
    padding:10px;
    font-size:10px;
}
.blue-bg{
    background-color: dodgerblue;
}
.orange-bg{
    background-color: orange  !important;
}